{{extend 'layout.html'}}
 <div class="section">
      <div class="container">
        <div class="row">
            <div class="col-md-6 text-justify">
             <p>A utilização de sistemas de informação tem cada vez mais importância nas
              empresas. Segurança, gestão e controle são alguns do benefícios desses
              softwares. Fique conosco para conhecer melhor!</p>
                 <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQtIsSBvc6KX5o-A7TYU_GM0HHhT56W1vZ0saPqisu_Sw5KKOts&amp;s"
            class="img-responsive"><br><br>
            <p>A capacidade de criar relatórios agrupados de maneira lógica e incluindo
              todos os dados relevantes é um dos principais benefícios na utilização
              dos sistemas de informação pelas corporações. Isso permite identificar
              os pontos que podem ser alterados para melhorar a performance e reduzir
              custos.</p>
            <p>Os sistemas de informação têm grande importância no crescimento das empresas.
              Com o uso destas ferramentas, elas conseguem definir estratégias de crescimento
              sólido, reduzir as perdas e projetar ações futuras de grande impacto.</p>
            <p>Com as constantes evoluções tecnológicas que dominam a atualidade, principalmente
              no que concerne a seara empresarial, é imprescindível que as empresas acompanhem
              tal crescimento bem como utilizem as mesmas a seu favor, em sinal de uma
              maximização de gestão de tempo visando resultados eficientes e eficazes.</p>
            <p>O Sistema de Informação por sua vez, tem como conceito a transformação
              de dados, sendo estes elementos brutos dentro da empresa, em informações
              - uma vez que ambos em seu conjunto têm a finalidade de auxiliar todo e
              qualquer processo de gestão. Com a utilização dos sistemas de informações,
              as organizações que as possuem, tendem a ter um controle mais eficiente
              sobre suas operações e consequentemente garantindo melhores resultados,
              sendo assim, uma ferramenta ágil e segura para os usuários&nbsp;</p>
            <p>Assim, ficou evidenciado a importância de um sistema de informação gerencial
              para as organizações, principalmente no que concerne as enquadradas como
              de pequeno porte, uma vez que, para estas garantirem sua continuidade empresarial
              precisam além de uma competitividade em seu produto, manter um controle
              sobre todas as suas operações.</p>
            </div>
            <div class="col-md-6 text-justify">
                    <a class="btn btn-block btn-primary" href="{{=URL('projeto', 'listar_projetos')}}">Listar Equipes</a></li>
                </ul><hr>
            
            <p>De acordo com Randy Gage, um dos papas do Multinível nos Estados Unidos, uma típica rede de Marketing Multinível tem a seguinte estrutura: </p>
<ul>
<li> 50% de clientes de varejo</li>
<li>  30% de distribuidores consumidores</li>
<li>  15% de líderes de final de semana e</li>
<li>  5% de top líderes. </li>
</ul><hr>
<p>Isso mostra para a gente que existe uma boa dose de estratégia por trás
                      da construção de uma rede e que esses percentuais fazem muito sentido.</p>
                    <p>Se você os analisar, verá que espelham a estrutura de qualquer negócio
                      tradicional onde há uma grande base de consumidores e uma quantidade menor
                      de pessoas que participam do processo de vendas, seja em um grau maior
                      ou menor.</p>
                    <p>Por exemplo… o corpo diretivo de uma empresa não sai na rua para vender,
                      mas ele é responsável pela estratégia comercial que possibilita que as
                      vendas aconteçam.</p>
                    <p>Os vendedores, que são em maior número que os diretores, não criam as
                      estratégias mas vão para a rua fazer as vendas.</p>
                    <p>Se a distribuição desses percentuais fosse diferente, provavelmente o
                      negócio não funcionaria.</p>
                    <p>Perceba também que todos os tipos de participantes são importantes, mas
                      quem gera a renda residual de longo prazo são os clientes de varejo.</p>
            
<hr>

=======
              
            </div>
