{{extend 'layout.html'}}

<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="container"> <button class="navbar-toggler navbar-toggler-right border-0" type="button" data-toggle="collapse" data-target="#navbar10">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbar10">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item"> <a class="nav-link" href="{{=URL('acesso_geral_projeto', args=projeto.id)}}">Acesso Geral</a> </li>
          <li class="nav-item"> <a class="nav-link" href="{{=URL('projeto','prestacao_venda', args=projeto.id)}}">Prestação Venda</a> </li>
          <li class="nav-item"> <a class="nav-link" href="{{=URL('projeto','investimento', args=projeto.id)}}">Investimento</a> </li>
          <li class="nav-item"> <a class="nav-link" href="{{=URL('projeto','prestacao_cobr', args=projeto.id)}}">Prestação Cobrança</a> </li>
          <li class="nav-item"> <a class="nav-link" href="{{=URL('projeto','lucros_prej', args=projeto.id)}}">Relatorio Lucros</a> </li>
        </ul>
      </div>
    </div>
  </nav>
<br><br>
<div class="section">
              <div class="container">
                <div class="row">
                  <div class="col-md-6">
                                           
                      <p>Capital Empregado</p>
                      
                      <ol>{{investimento=0}}
                          <li>Custo Total da Compra = <b>R$ {{="{:,}".format(round(projeto.total_custo_envio,2)).replace(",",".")}}0</b></li>
                          <hr>{{investimento+=projeto.total_custo_envio}}
                          <li>Vendedores e Vales = <b>R$ {{="{:,}".format(round(projeto.total_vale_saida_vendedor+projeto.total_recebido_chegada_venda_vendedor,2)).replace(",",".")}}0</b></li>
                          <ol class="list-unstyled">{{investimento+=projeto.total_vale_saida_vendedor+projeto.total_recebido_chegada_venda_vendedor}}
                              <li>R$ {{="{:,}".format(round(projeto.total_vale_saida_vendedor,2)).replace(",",".")}}0 Vale da Saida</li>
                              <li>R$ {{="{:,}".format(round(projeto.total_recebido_chegada_venda_vendedor,2)).replace(",",".")}}0 Recebido na Chegada </li>
                          </ol>
                          <hr>{{investimento+=projeto.vale_saida_chefe+projeto.recebido_chegada_venda}}
                          <li>Chefe e vale = <b>R$ {{="{:,}".format(round(projeto.vale_saida_chefe+projeto.recebido_chegada_venda,2)).replace(",",".")}}0</b></li>
                          <ol class="list-unstyled">
                            <li>R$ {{="{:,}".format(round(projeto.vale_saida_chefe,2)).replace(",",".")}}0 Vale da Saida</li>
                            <li>R$ {{="{:,}".format(round(projeto.recebido_chegada_venda,2)).replace(",",".")}}0 Recebido na Chegada</li>
                          </ol>
                          <hr>{{investimento+=projeto.total_vale_saida_funcionario+projeto.total_recebido_chegada_funcionario}}
                          <li>Funcionarios e Vales = <b>R$ {{="{:,}".format(round(projeto.total_vale_saida_funcionario+projeto.total_recebido_chegada_funcionario,2)).replace(",",".")}}0</b></li>
                          <ol class="list-unstyled">
                              <li>R$ {{="{:,}".format(round(projeto.total_vale_saida_funcionario,2)).replace(",",".")}}0 Vale da Saida</li>
                              <li>R$ {{="{:,}".format(round(projeto.total_recebido_chegada_funcionario,2)).replace(",",".")}}0 Recebido na Chegada</li>
                          </ol><hr>{{investimento+=projeto.total_valor_depesa_local}}
                         <li>Despesa Local = <b>R$ {{="{:,}".format(round(projeto.total_valor_depesa_local,2)).replace(",",".")}}0</b></li>
                          <hr>{{investimento+=projeto.adiantamento_dinh_venda-projeto.devolucao_dinh_venda}}
                          <li>Dinheiro Emprestado para Venda = <b>R$ {{="{:,}".format(round(projeto.adiantamento_dinh_venda,2)).replace(",",".")}}0</b></li>
                          <li>Dinheiro Devolvido da Venda = <b>R$ {{="{:,}".format(round(projeto.devolucao_dinh_venda,2)).replace(",",".")}}0</b></li>
                          <hr>
                          <p>
                             <b>Valor Total Empregado = R$ {{="{:,}".format(round(investimento,2)).replace(",",".")}}0</b>
                          </p>
                      </ol>
                      <br><br><br>
                    </div>

                  <div class="col-md-6">
                      <p>
                          Previa de lucros e estimativa
                      </p>
                    <ol>
                      <li class="text-primary">Total da Venda = <b>R$ {{="{:,}".format(round(projeto.total_venda,2)).replace(",",".")}}0</b></li>
                      <li>Valor Total Empregado = <b>R$ {{="{:,}".format(round(investimento,2)).replace(",",".")}}0</b></li>
                    </ol>
                      <hr>
                    <p>
                        Estimativa
                      </p>
                    <ol>
                      <p><b>R$ {{="{:,}".format(round(investimento,2)).replace(",",".")}}0</b> - Valor Total Empregado</p>
                      <p><b>R$ {{="{:,}".format(round(projeto.total_valor_deposito,2)).replace(",",".")}}0</b> - Total Deposito </p>
                        {{lucro=projeto.total_valor_deposito-investimento}}
                        {{if lucro>0:}}
                        <p class="text-primary"><b>R$ {{="{:,}".format(round(lucro,2)).replace(",",".")}}0</b> - Estimativa de Lucro </p>
                        {{else:}}
                        <p class="text-danger">R$ {{="{:,}".format(round(lucro,2)).replace(",",".")}}0</b> - Valor que Falta </p>
                        {{pass}}
                      
                    </ol>
                      <hr>
                   
                  </div>
                </div>
              </div>
            </div>
